{# {% extends 'commons/subwinbase.html' %} #}
{% extends 'commons/base.html' %}

{% load static %}

{% block links %}
<style media="screen">
  td{
    padding:5px;
  }
</style>
{% endblock %}

{% block headertitle %}
詳細表示
{% endblock %}

{% block content %}
  <div>
    <table>
        <tr><td>氏名     </td><td>{{ object.name             }}</td></tr>
        <tr><td>年齢     </td><td>{{ object.age              }}</td></tr>
        <tr><td>生年月日 </td><td>{{ object.birthday         }}</td></tr>
        <tr><td>入社日   </td><td>{{ object.hiredate         }}</td></tr>
        <tr><td>退社日   </td><td>{{ object.retiredate       }}</td></tr>
        <tr><td>登録日時 </td><td>{{ object.createddate      }}</td></tr>
        <tr><td>更新日時 </td><td>{{ object.lastmodifieddate }}</td></tr>
    </table>
    <br/>
  </div>
{% endblock %}
